

.tabuleiro li{
    list-style-type: none;
    height: 30px;
    width: 30px;
    margin: 4px;
    border-radius: 17px;
    background-color: white;
    list-style-position: inside;
    border: 1px solid black;
    display: inline-block;
    margin-top: 15px;
}
.tabuleiro {

    position: relative;
    top: 2px;
    left: -75px;

}
.atual{
    cursor:pointer;
    height: 40px !important;
    width:35px;
    vertical-align: top;
    background-color:#E7A512 !important;
}
.inativa{

}
.respondida{
    cursor:pointer;
    background-color:yellow !important;
}

.alternativa{
    list-style-type: none;

}

.campos>div{
    padding-top:50px;
    min-height: 704px;
    max-height: 704px;
}
.campos{

    min-height: 704px;
    max-height: 704px;
    overflow: hidden;
}
.alternativas{
    padding: 5px;
    font-size: 13px;
    border: 1px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.9);
    margin: 3px;
    z-index: 9999;
    margin: 10px 32px!important;
    border: 5px solid #004e72;
    position:relative;
}

.campos-e3 .alternativas{
    display:inline-block;
    padding:5px;
    max-width:150px;
    font-size:11px;
}

.box-drop{
    height:265px;
    overflow: visible;
    border-radius: 20px;
    border: 5px solid #004e72;
    margin:-1px;

}

.box-drop-top{
    height:180px;

}
.ranking{
    list-style-type: none;
}
.ranking>li>ul{
    display:inline-block;
    padding:3px;
}

.background{
    background-size: cover;
    height:704px;
    background-repeat: no-repeat;

}
.form-control{
    margin:10px;
    border-radius:20px;
}

.btn{
    border-radius:20px;
    min-width: 200px;
    font-size:14px;


}
.login{
    background-image: url('../images/main.png');
    background-size: cover;
}
.btn-default{
    background-color:#004E72;
    color:white;
}
.btn-default:active:hover{
    background-color:#466d72;
    color:white;
}
.btn-default:hover{
    background-color: #466d72;
    color:white;
}

.go-to-footer{
    top: 64%;
}

.home{
    background-image: url('../images/bground-tabuleiro.png');
}

.group1{
    position: absolute;
    top: 196px;
    left: 118px;
}

.group2 {
    position: absolute;
    top: 237px;
    left: 328px;
}
.group2 li{
    display:block;
}
.group3 {
    position: absolute;
    top: 457px;
    left: 328px;
}

.group4{
    top: 417px;
    position: absolute;
    left: 557px;
}


.group5 {
    top: 374px;
    position: absolute;
    left: 558px;
}

.group6 {
    position: absolute;
    top: 412px;
    left: 900px;
}
.userInfo {
    color: #FDC70F;
    position: absolute;
    top: 530px;
    left:20px;
    display: flex;
    margin: 50px;
}

.group6 li{
    display:block;
}

.avatar{
    border: 10px solid #FDC70F;
    border-radius:100px;
    margin-right:15px;
    background-color:rgba(0,0,0,0.2);
    padding: 10px;
    height: 144px;
    width: 136px;
    background-size: cover;
    background-image: url('../images/cabeca-personagem.png') ;
    background-size: 80px;
    background-repeat:no-repeat;
    background-position: center;
}
.inicio{
    position:absolute;
    color:white;
    font-size: 20px;
    top: 180px;
    left: 40px;
}
.sinais{
    color:white;
    position:absolute;
    font-size: 20px;
    top: 388px;
    left: 90px;
}
.vantagens{
    color:white;
    position:absolute;
    font-size: 20px;
    top: 320px;
    left: 510px;
}
.stakeholder{
    color:white;
    position:absolute;
    font-size: 20px;
    top: 432px;
    left: 710px;
}
.cristo{
    color:white;
    position:absolute;
    font-size: 20px;
    top: 600px;
    left: 660px;
}
.especial{
    background-color:#00FF22!important;
}
.container-fluid{
    width:960px!important;
    margin:inherit;
}

.loginbtn{
    left: 78px;
    position: absolute;
}

.questionbg{
    background-image: url('../images/bg-questoes.png');
}

.header-pergunta{
    font-size: 12px;
    display: inline-block;
    width:100%;
    border: 2px solid #004e72;
    color:#004e72;
    border-radius: 20px;
    background-color:rgba(255,255,255,0.95);
    padding:20px;
    padding-top: 0px;
}

.angular-with-newlines {
    white-space: pre-wrap;
}

.alternativa>ul{
    display: inline-block;
}
.alternativa{
    height:120px;
    padding: 1px;
}

.valor-alt{
    height:90px;
    width:90px;
    padding: 35px;
    color: white;
    background-color: #004e72;
    margin: 10px;
    border-radius:20px;
}
.desc-alt{
    width: 800px;
    height:90px;
    padding:20px;
    vertical-align: middle;
    border: 2px solid #004e72;
    color:#004e72;
    border-radius: 20px;
    margin-top:10px;
    background-color:rgba(255,255,255,0.9)
}


.alternativaSelecionada .valor-alt{
    background-color: #ff9326;
}

.center-button{
    position: absolute;
    left: 377px;
}
.question-2{
    margin-top: 20px;
    border: 5px solid #004e72;
    border-radius:100px;
    margin-right:15px;
    background-color:rgba(0,0,0,0.2);
    height: 208px;
    width: 206px;
    background-image: url('../images/img-maria.png') ;
    background-repeat:no-repeat;
    background-position: center;
}
.form-login {
    position: relative;
    left: -55px;
}

.question-1{
    margin-top: 20px;
    border: 5px solid #004e72;
    border-radius:100px;
    margin-right:15px;
    background-color:rgba(0,0,0,0.2);
    height: 208px;
    width: 206px;
    background-image: url('../images/img-suzana.png') ;
    background-repeat:no-repeat;
    background-position: center;
}

.campo1{
    background-color:#B3fcfc;
}
.campo2{
    background-color:#FAD7FE;
}
.mulher
{
    height: 614px;
    width: 155px;
    background-image: url(../images/silhueta-mulher.png);
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    left: 404px;
    top: 74px;
    background-position: right;
}
.titulo{
    position: absolute;
    z-index: 9;
}
.bt-e1{
    top:658px;
    z-index: 2;
}
.alternativas-e3{
    width: 100px;
    height: 45px;
    font-size: 11px;
    color: white;
    position: relative;
    display: inline-table;
    background-color:#004e72 ;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.questione3-bg{
    background-image:url('../images/bg-questoes.jpg')
}
.bt-e3{
    top: 653px;
}
.textos{
    background-size: cover;
    position:absolute;
    width:960px;
    height:704px;
    z-index: 9999;
    top:0;
}
.intro-1{
    background-image:url('../images/intro1.png');
}

.intro-1 p{
    position: absolute;
    top: 135px;
    width: 625px;
    height: 302px;
    font-size: 25px;
    color: #004e72;
    left: 275px;
}
.intro-2{
    background-image:url('../images/intro2.png');
}
.intro-3{
    background-image:url('../images/intro3.png');
}
.intro-4{
    background-image:url('../images/pontuacao.png');
}
.intro-4 p {
    position: absolute;
    top: 316px;
    font-size: 100px;
    color: #ff9326;
    left: 395px;
}
.intro-5{
    background-image:url('../images/fin-1.png');
}
.intro-6{
    background-image:url('../images/inst-game1.png');
}
.intro-7{
    background-image:url('../images/inst-game2.png');
}
.intro-8{
    background-image:url('../images/inst-game3.png');
}
.ranking-bg{

}

.input-login{
    position:absolute;
    width:330px;
    top:450px;
    left:370px;
    border-radius:20px;

    border: 1px solid black;
}
.input-password{
    position:absolute;
    width:330px;
    top:490px;
    left:370px;
    border-radius:20px;
    border: 1px solid black;
}
.loginbtn{
    top:550px;
    left:430px;
}

body.lock-position {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

.question2bg{
    padding:10px;
    background-image: url('../images/bg-questoes.jpg');
    overflow: scroll;
}
.btn-enviar{
    position: fixed;
    top: 644px;
    left: 730px;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.all{
    position:absolute;
    overflow: hidden;
    width:960px;
    height: 704px;
}

.background{
    z-index:9999;
    top:0;
    position:absolute;
    overflow: hidden;
    width:960px;
    height: 704px;
}

#preload-01 { background: url(../images/game-1-0.png) no-repeat -9999px -9999px; }
#preload-02 { background: url(../images/game-1-1.png) no-repeat -9999px -9999px; }
#preload-03 { background: url(../images/game-1-2.png) no-repeat -9999px -9999px; }
#preload-04 { background: url(../images/game-1-3.png) no-repeat -9999px -9999px; }
#preload-05 { background: url(../images/game-1-4.png) no-repeat -9999px -9999px; }
#preload-06 { background: url(../images/game-1-5.png) no-repeat -9999px -9999px; }
#preload-07 { background: url(../images/game-1-6.png) no-repeat -9999px -9999px; }

.game-1-0{
    background-image:url('../images/game-1-0.png')

}

.game-1-1{
    background-image:url('../images/game-1-1.png')

}

.game-1-2{
    background-image:url('../images/game-1-2.png')

}

.game-1-3{
    background-image:url('../images/game-1-3.png')

}

.game-1-4{
    background-image:url('../images/game-1-4.png')

}

.game-1-5{
    background-image:url('../images/game-1-5.png')

}

.game-1-6{
    background-image:url('../images/game-1-6.png')

}

.game-none{
    display:none;
}


.respostas div>div{
    margin-bottom:3px;
}

.respostas>div{
    z-index: 2;
    font-size:10px;
    border: solid 2px #a9e2fd;
    border-radius: 35px;
    padding: 15px;
    color :#ffffff;

}
.alternativas-especial-1{
    position: absolute;
    top: 110px;
    bottom: 0px;
    max-width: 350px;
    font-size: 15px;
    font-weight: bolder;
    color: #004e72;
}


.alternativas-especial-1 div
{
    padding: 10px;
}

.quest-container-1{
    width: 264px;
    top: 80px;
    right: 470px;
    position: absolute;
}
.quest-container-2{
    width: 270px;
    top: 228px;
    right: 477px;
    position: absolute;
}
.quest-container-3{
    width: 280px;
    top: 460px;
    right: 500px;
    position: absolute;
}
.quest-container-4{
    width: 170px;
    top: 10px;
    right: 7px;
    position: absolute;
}

.quest-container-5{
    width: 170px;
    top: 130px;
    right: 7px;
    position: absolute;
}
.quest-container-6{
    width: 260px;
    top: 310px;
    right: 7px;
    position: absolute;
}

.quest-container-7{
    width: 330px;
    top: 589px;
    right: 7px;
    position: absolute;
}

.alternativas-especial-3 {
    position: absolute;
    top: 150px;
    left: 0px;
    height: 600px;
    width: 300px;
}
.box-drop-especial-3{
    position: absolute;
    top: 0px;
    right: 85px;
    height: 704px;
    width: 600px;
}

.box-drop-especial-3>div{
    position:absolute;
    min-height:40px;
    min-width: 130px;
    text-align: center;
    background-color: #9d3241;
    color: white;
    border-radius:10px;
    padding:3px;
    overflow:hidden;

}

.box-drop-especial-3>div>div{
    position: absolute;
    min-height: 30px;
    height:inherit;
    text-align: center;
    margin:auto;
    right:0;
    left:0;
}

.bg-branco{
    background-image: url(../images/bg-branco.png);
    overflow-y: scroll;
}

.especia-box-1{
    top:30px;
    left:5%;
    width: 40%;
    max-height: 60px;
}

.especia-box-2{
    top: 30px;
    width: 40%;
    right: 5%;
    max-height: 60px;


}
.especia-box-3{
    top: 110px;
    width: 90%;
    left: 5%;

}
.especia-box-4{
    top:190px;
    left:5%;
    width: 40%;
    max-height: 60px;
}

.especia-box-5{
    top: 190px;
    right:5%;
    width: 40%;
    max-height: 60px;
}

.especia-box-6{
    top:250px;
    left:5%;
    width: 40%;
    max-height: 60px;
}

.especia-box-7{
    top: 300px;
    width: 90%;
    left: 5%;
}

.especia-box-8{
    top: 350px;
    width: 90%;
    left: 5%;
}

.especia-box-9{
    top: 400px;
    width: 90%;
    left: 5%;

}

.especia-box-10{
    top: 450px;
    width: 25%;

    right: 5%;
    height: 140px;
}
.especia-box-11{
    top: 450px;
    width: 25%;
    right: 37.4%;
    height: 140px;
}

.especia-box-12{
    top: 450px;
    width: 25%;
    left: 5%;
    height: 140px;
}

.especia-box-13{
    top: 600px;
    width: 90%;
    left: 5%;
}

.bg-celula {
    background-image: url(../images/bg-celula.jpg);
    position: absolute;
    background-size: cover;
    height: 470px;
    width: 410px;
    left: 380px;
    top: 73px;
    z-index: 1;
}

.especial3texto {
    width: 690px;
    font-size: 15px;
    margin: 7px;
    font-weight: bold;
    z-index: 3;
    color: #004e72;
}

.flux{
    background-image: url(../images/flux.png);
    position: absolute;
    background-size: cover;
    height: 470px;
    width: 410px;
    left: 380px;
    top: 73px;
    z-index: 1;
}

.game-2-0{
    background-image:url('../images/game-2-0.png')

}
.game-2-1{
    background-image:url('../images/game-2-1.png')

}
.game-2-2{
    background-image:url('../images/game-2-2.png')

}


.game-3-1{
    background-image:url('../images/game-3-1.png')

}
.game-3-2{
    background-image:url('../images/game-3-2.png')

}


.texto-2{
    margin: 0 0 10px;
    width: 310px;
    padding: 6px;
    color: #004e72;
}


.textos-especial  {
    position: absolute;
    background-image: url(../images/grid-final.png);
    height: 583px;
    width: 660px;
    right: 0;
    top: 55px;
    z-index: 8;

}

.bg-questione-31{
    background-image:url('../images/especial-3-2.png')
}
.respostas>div{

    top: 60px;
    position: relative;
 
    height: 35px;
    z-index: 2;
    font-size: 10px;
    /* border: solid 2px #a9e2fd; */
    border-radius: 13px;
    background-color: rgba(0,0,0,0.2);
    color: #ffffff;
    margin-bottom: 6px;
    width: 319px;
}
.respostas{
    position: absolute;
    width: 300px;
    left: 380px;
    top: 77px;
    text-align: center

}
.margin-top-q{
    margin-top:46px
}
.alternativas-especial-1 {
    right: 6px;
    position: absolute;
    top: 250px;
    bottom: 0px;
    max-width: 350px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    
}
.alternativas-especial-1>div {
    background-color: #004e72;
    border-radius: 13px;
    margin: 3px;
}


.bg-questione-32{
    background-image:url('../images/especial-3-3.png')
}
.respostas.e-3-2{
    top: 112px;
    left: 474px;
}
.respostas.e-3-2>div{
    height: 57px;
    width: 407px;
}

.alternativas-especial-1.e-3-2 {
    max-width: 850px;
    top: 481px;
    left: 63px;
}

.alternativas-especial-1.e-3-2>div{
    height: 57px;
    width: 400px;
    display: inline-block;
}