
<div class="background home">
    <div class="inicio">
        <p>Início</p>
    </div>

    <div class="cristo">
        <p>Huayna Picchu<br>
        Final</p>
    </div>
    <div class="tabuleiro">
        <div class="group1">
            <li ng-click="abrePergunta(201)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==201? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>201? 'respondida' : 'inativa'">

            </li>
            <li ng-click="abrePergunta(202)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==202? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>202? 'respondida' : 'inativa'"></li>
            <li ng-click="abrePergunta(203)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==203? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>203? 'respondida' : 'inativa'">
            </li>
            <li ng-click="abrePergunta(204)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==204? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>204? 'respondida' : 'inativa'">
            </li>
            <li ng-click="abrePergunta(205)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==205? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>205? 'respondida' : 'inativa'">
            </li>

            <li ng-click="abrePergunta(206)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==206? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>206? 'respondida' : 'inativa'">

            </li>
        </div>
        <div class="group2">
            <li ng-click="abrePergunta(207)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==207? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>207? 'respondida' : 'inativa'">

            </li><li ng-click="abrePergunta(208)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==208? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>208? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(209)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==209? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>209? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta('2E1')" class="especial" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==209.5? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>209.5? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(210)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==210? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>210? 'respondida' : 'inativa'">

        </li>
        </div>
        <div class="group3">
            <li ng-click="abrePergunta(211)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==211? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>211? 'respondida' : 'inativa'">

            </li><li ng-click="abrePergunta(212)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==212? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>212? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(213)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==213? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>213? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(214)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==214? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>214? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(215)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==215? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>215? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(216)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==216? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>216? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(217)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==217? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>217? 'respondida' : 'inativa'">

        </li>
        </div>
        <div class="group4">
            <li ng-click="abrePergunta(218)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==218? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>218? 'respondida' : 'inativa'">

            </li>
        </div>
        <div class="group5">
            <li ng-click="abrePergunta(219)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==219? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>219? 'respondida' : 'inativa'">

            </li><li ng-click="abrePergunta('2E2')" class="especial" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==219.5? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>219.5? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(220)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==220? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>220? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(221)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==221? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>221? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(222)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==222? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>222? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(223)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==223? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>223? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(224)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==224? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>224? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(225)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==225? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>225? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(226)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==226? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>226? 'respondida' : 'inativa'">

        </li><li ng-click="abrePergunta(227)" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==227? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>227? 'respondida' : 'inativa'">

        </li>
        </div>
        <div class="group6"><li ng-click="abrePergunta('2E5')" class="especial" ng-class="(userStatus.UltimaPerguntaRespondidaFront+1)==227.5? 'atual' : (userStatus.UltimaPerguntaRespondidaFront+1)>227.5? 'respondida' : 'inativa'">

        </div>
    </div>
    <div class="userInfo container-fluid">
        <div class="avatar"></div>
        <div>
        <h1>{{userStatus.Nome}}</h1>
        <h2>{{userStatus.Pontuacao}} pts.</h2>
            <a ui-sref="ranking"  style="min-width:120px; border: 3px solid #FDC70F;color:#FDC70F" class="btn btn-default bottom-right">RANKING</a>
            <button ng-click="logout()" style="min-width:120px; border: 3px solid #FDC70F;color:#FDC70F" class="btn btn-default bottom-right">LOGOUT</button>
        </div>
    </div>


</div>
<div ng-show="showTexto1" class="textos intro-1" ng-click="removeShow(1)">
    <p ng-bind-html="texto1"></p>
</div>

<div ng-show="showTexto2" class="textos intro-2" ng-click="removeShow(2)">

</div>

<div ng-show="showTexto3" class="textos intro-3" ng-click="removeShow(3)">

</div>
<div ng-show="showTexto4" class="textos intro-4" ng-click="removeShow(4)">
    <p>{{userStatus.Pontuacao}}pts.</p>
    <span></span>
</div>

<div ng-show="showTexto5" class="textos intro-5" ui-sref="ranking">

</div>
