<div class="background login">
    <form novalidate>
        <div class="group-login form-login">
            <input class="input-login" type="text" ng-model="login.Login">
            <input class="input-password" type="password" ng-model="login.Senha">
            <button class="btn btn-default loginbtn" ng-click="doLogin()">Login</button>
        </div>
    </form>
</div>