<div class="background bg-questione-32">

	<div class="questao-especial">

		<div ng-drop="true" ng-drop-success="onDropAlternativasComplete($data,$event)" class="alternativas-especial-1 e-3-2">


			<div ng-touch ng-repeat="alt in alternativas" ng-drag="true" ng-drag-data="alt" ng-drag-success="onDragAlternativasSuccess($data,$event)"
				ng-center-anchor="{{centerAnchor}}">
				{{alt.DescricaoAlternativa}}
			</div>

		</div>
		<div class="respostas e-3-2">

			<div ng-drop="true" ng-drop-success="onDropQuestao1Complete($data,$event)" class="questao1">

				<div ng-repeat="alternativa in questao1" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragQuestao1Success($data,$event)"
					ng-center-anchor="{{centerAnchor}}">
					{{alternativa.DescricaoAlternativa}}
				</div>

			</div>



			<div ng-drop="true" ng-drop-success="onDropQuestao2Complete($data,$event)" >

				<div ng-repeat="alternativa in questao2" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragQuestao2Success($data,$event)"
					ng-center-anchor="{{centerAnchor}}">
					{{alternativa.DescricaoAlternativa}}
				</div>

			</div>


			<div ng-drop="true" ng-drop-success="onDropQuestao3Complete($data,$event)" class="questao3">

				<div ng-repeat="alternativa in questao3" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragQuestao3Success($data,$event)"
					ng-center-anchor="{{centerAnchor}}">
					{{alternativa.DescricaoAlternativa}}
				</div>

			</div>



			<div ng-drop="true" ng-drop-success="onDropQuestao4Complete($data,$event)" class="questao4">

				<div ng-repeat="alternativa in questao4" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragQuestao4Success($data,$event)"
					ng-center-anchor="{{centerAnchor}}">
					{{alternativa.DescricaoAlternativa}}
				</div>
			</div>

			<!--QUESTAO5-->

			<div ng-drop="true" ng-drop-success="onDropQuestao5Complete($data,$event)" class="questao5">

				<div ng-repeat="alternativa in questao5" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragQuestao5Success($data,$event)"
					ng-center-anchor="{{centerAnchor}}">
					{{alternativa.DescricaoAlternativa}}
				</div>

			</div>



			<div ng-drop="true" ng-drop-success="onDropQuestao6Complete($data,$event)" >

				<div ng-repeat="alternativa in questao6" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragQuestao6Success($data,$event)"
					ng-center-anchor="{{centerAnchor}}">
					{{alternativa.DescricaoAlternativa}}
				</div>

			</div>


			<div ng-drop="true" ng-drop-success="onDropQuestao7Complete($data,$event)" class="">
			
				<div ng-repeat="alternativa in questao7" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragQuestao7Success($data,$event)"
					ng-center-anchor="{{centerAnchor}}">
					{{alternativa.DescricaoAlternativa}}
				</div>

			</div>


			<!--QUestao8-->

			<div ng-drop="true" ng-drop-success="onDropQuestao8Complete($data,$event)" class="questao8">
		
				<div ng-repeat="alternativa in questao8" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragQuestao8Success($data,$event)"
					ng-center-anchor="{{centerAnchor}}">
					{{alternativa.DescricaoAlternativa}}
				</div>

			</div>

			<!--QUestao9-->
			<div ng-drop="true" ng-drop-success="onDropQuestao9Complete($data,$event)" >
	
				<div ng-repeat="alternativa in questao9" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragQuestao9Success($data,$event)"
					ng-center-anchor="{{centerAnchor}}">
					{{alternativa.DescricaoAlternativa}}
				</div>

			</div>


			<!--QUestao10-->
			<div ng-drop="true" ng-drop-success="onDropQuestao10Complete($data,$event)" class="questao10">

				<div ng-repeat="alternativa in questao10" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragQuestao10Success($data,$event)"
					ng-center-anchor="{{centerAnchor}}">
					{{alternativa.DescricaoAlternativa}}
				</div>

			</div>

			<!--QUestao11-->
			<div ng-drop="true" ng-drop-success="onDropQuestao11Complete($data,$event)" class="questao11">

				<div ng-repeat="alternativa in questao11" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragQuestao11Success($data,$event)"
					ng-center-anchor="{{centerAnchor}}">
					{{alternativa.DescricaoAlternativa}}
				</div>

			</div>
		</div>
		<!--QUestao12-->

		<div ng-drop="true" ng-drop-success="onDropQuestao12Complete($data,$event)" class="questao12">
		
			<div ng-repeat="alternativa in questao12" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragQuestao12Success($data,$event)"
				ng-center-anchor="{{centerAnchor}}">
				{{alternativa.DescricaoAlternativa}}
			</div>



		</div>
	</div>
</div>
<button ng-click="responderE1()" class="btn btn-default center-button bt-e1">PRONTO</button>

<div class="background" ng-class="bgClass()" ng-click="changeTexto()">
	<div class="background game-3-1"></div>
	<div class="background game-3-1" ng-class="bgClass()"></div>
</div>

<div class="bg-celula">

</div>
</div>