
<div class="background bg-branco" style="overflow: hidden !important;">
    <div class="textos-especial">

    </div>
    <p class="texto-2">{{pergunta.Titulo}}</p>
    <div ng-drop="true" ng-drop-success="onDropComplete1($data,$event)" class="alternativas-especial-3">
        <div class="alternativas-e3" ng-repeat="obj in droppedObjects1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess1($data,$event)" ng-center-anchor="{{centerAnchor}}">
            {{obj.DescricaoAlternativa}}
        </div>
    </div>
    <div>
    <div class="box-drop-especial-3">
        <div ng-drop="true" ng-drop-success="onDropComplete2($data,$event)" class="especia-box-1">
            <div  ng-repeat="alternativa in droppedObjects2" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragSuccess2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                {{alternativa.DescricaoAlternativa}}
            </div>
        </div>

        <div ng-drop="true" ng-drop-success="onDropComplete3($data,$event)" class="especia-box-2">           
            <div  ng-repeat="alternativa in droppedObjects3" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragSuccess3($data,$event)" ng-center-anchor="{{centerAnchor}}">
                {{alternativa.DescricaoAlternativa}}
            </div>
        </div>

        <div ng-drop="true" ng-drop-success="onDropComplete4($data,$event)" class="especia-box-3">
            
            <div  ng-repeat="alternativa in droppedObjects4" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragSuccess4($data,$event)" ng-center-anchor="{{centerAnchor}}">
                {{alternativa.DescricaoAlternativa}}
            </div>
        </div>

        <div ng-drop="true" ng-drop-success="onDropComplete5($data,$event)" class="especia-box-4">
           

            <div  ng-repeat="alternativa in droppedObjects5" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragSuccess5($data,$event)" ng-center-anchor="{{centerAnchor}}">
                {{alternativa.DescricaoAlternativa}}
            </div>
        </div>

        <div ng-drop="true" ng-drop-success="onDropComplete6($data,$event)" class="especia-box-5">
           
            <div  ng-repeat="alternativa in droppedObjects6" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragSuccess6($data,$event)" ng-center-anchor="{{centerAnchor}}">
                {{alternativa.DescricaoAlternativa}}
            </div>
        </div>
        <div ng-drop="true" ng-drop-success="onDropComplete7e5($data,$event)" class="especia-box-6">
            
            <div  ng-repeat="alternativa in droppedObjects7e5" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragSuccess7e5($data,$event)" ng-center-anchor="{{centerAnchor}}">
                {{alternativa.DescricaoAlternativa}}
            </div>
        </div>
        <div ng-drop="true" ng-drop-success="onDropComplete7($data,$event)" class="especia-box-7">
            
            <div  ng-repeat="alternativa in droppedObjects7" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragSuccess7($data,$event)" ng-center-anchor="{{centerAnchor}}">
                {{alternativa.DescricaoAlternativa}}
            </div>
        </div>
        <div ng-drop="true" ng-drop-success="onDropComplete8($data,$event)" class="especia-box-8">
            
            <div  ng-repeat="alternativa in droppedObjects8" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragSuccess8($data,$event)" ng-center-anchor="{{centerAnchor}}">
                {{alternativa.DescricaoAlternativa}}
            </div>
        </div>
        <div ng-drop="true" ng-drop-success="onDropComplete9($data,$event)" class="especia-box-9">
            
            <div  ng-repeat="alternativa in droppedObjects9" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragSuccess9($data,$event)" ng-center-anchor="{{centerAnchor}}">
                {{alternativa.DescricaoAlternativa}}
            </div>
        </div>

    <div ng-drop="true" ng-drop-success="onDropComplete10($data,$event)" class="especia-box-10">
        
        <div  ng-repeat="alternativa in droppedObjects10" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragSuccess10($data,$event)" ng-center-anchor="{{centerAnchor}}">
            {{alternativa.DescricaoAlternativa}}
        </div>
    </div>
    <div ng-drop="true" ng-drop-success="onDropComplete11($data,$event)" class="especia-box-11">
        
        <div  ng-repeat="alternativa in droppedObjects11" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragSuccess11($data,$event)" ng-center-anchor="{{centerAnchor}}">
            {{alternativa.DescricaoAlternativa}}
        </div>
    </div>
    <div ng-drop="true" ng-drop-success="onDropComplete12($data,$event)" class="especia-box-12">
        
        <div  ng-repeat="alternativa in droppedObjects12" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragSuccess12($data,$event)" ng-center-anchor="{{centerAnchor}}">
            {{alternativa.DescricaoAlternativa}}
        </div>
    </div>
    <div ng-drop="true" ng-drop-success="onDropComplete13($data,$event)" class="especia-box-13">
        
        <div  ng-repeat="alternativa in droppedObjects13" ng-drag="true" ng-drag-data="alternativa" ng-drag-success="onDragSuccess13($data,$event)" ng-center-anchor="{{centerAnchor}}">
            {{alternativa.DescricaoAlternativa}}
        </div>
    </div>
    </div>
    <button ng-click="responderE1()" class="btn btn-default center-button bt-e3">PRONTO</button></div>
<div ng-show="showTexto7" class="textos intro-8" ng-click="remove()">
</div>
</div>
<div class="background" ng-class="bgClass()" ng-click="changeTexto()">
    <div class="background game-2-0"></div>
    <div class="background game-2-0" ng-class="bgClass()"></div>
</div>





<div class="flux"></div>