<div class="background questionbg">
    <div class="header-pergunta">
        <h3 class="angular-with-newlines">{{pergunta.Titulo}}</h3>
        <p ng-bind-html="pergunta.Descricao"></p>
    </div>
    <li class="alternativa" ng-class="alternativaSelecionada==alternativa? 'alternativaSelecionada': ''" ng-repeat="alternativa in pergunta.Alternativas" ng-click="selecionaAlternativa(alternativa)">
        <ul class="valor-alt">{{alternativa.Valor}}</ul> <ul class="desc-alt"><p ng-bind-html="alternativa.DescricaoAlternativa"></p></ul>
    </li>
    <button ng-click="enviar()" ng-disabled="!selecionouAlternativa" class="btn btn-default btn-enviar">Enviar</button></div>