<div class="background bg-branco">
    <div class="header-pergunta">
        <div class="pergunta">
            <h3 class="angular-with-newlines">{{pergunta.Titulo}}</h3>
            <p ng-bind-html="pergunta.Descricao"></p>
        </div>
    </div>
    <li ng-hide="multiplaEscolha" class="alternativa" ng-class="alternativaSelecionada==alternativa? 'alternativaSelecionada': ''" ng-repeat="alternativa in pergunta.Alternativas" ng-click="selecionaAlternativa(alternativa)">
        <ul class="valor-alt">{{alternativa.Valor}}</ul> <ul class="desc-alt"><p ng-bind-html="alternativa.DescricaoAlternativa"></p></ul>
    </li>

    <li ng-show="multiplaEscolha" class="alternativa" ng-class="verificaMult(alternativa.Valor)? 'alternativaSelecionada': ''" ng-repeat="alternativa in pergunta.Alternativas" ng-click="selectMult(alternativa.Valor)">
        <ul class="valor-alt">{{alternativa.Valor}}</ul> <ul class="desc-alt"><p ng-bind-html="alternativa.DescricaoAlternativa"></p></ul>
    </li>
    <button ng-click="enviar()"class="btn btn-default btn-enviar">Enviar</button></div>
<div ng-show="showTexto7" class="textos intro-7" ng-click="remove()">
</div>

<div class="background" ng-class="bgClass()" ng-click="changeTexto()">
    <div class="background game-1-0"></div>
    <div class="background game-1-0" ng-class="bgClass()"></div>
</div>


