<div class="background questionbg" style="overflow:scroll">
    <button ui-sref="home" style="min-width:120px; border: 3px solid #FDC70F;color:#FDC70F;position:fixed;bottom:30px;right:30px" class="btn btn-default">VOLTAR</button>
<li class="alternativa" ng-repeat="usuarios in ranking">
    <ul class="valor-alt" style="padding: 0px 28px;font-size:40px;">{{usuarios.Posicao}}</ul> <ul class="desc-alt" style="width:700px;"><h1 ng-bind="usuarios.Email"></h1></ul>
    <ul style="margin-left:-30px;"><span style="color:#ff9326;font-size:35px;">{{usuarios.Pontuacao}}</span> <b>pts.</b></ul>
</li>
</div>
